<nb-card size="medium">
    <nb-card-header>Add Tenant</nb-card-header>
    <nb-card-body>
        <form [formGroup]="form">
            <div class="row">
                <mat-form-field>
                    <input matInput placeholder="Domain" formControlName="domain">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Space Quota" formControlName="space_quota">
                    <span matSuffix>GB</span>
                </mat-form-field>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <mat-spinner-button (btnClick)="create()" [options]="options">Submit</mat-spinner-button>
    </nb-card-footer>
</nb-card>