<nb-card>
    <nb-card-body>
        <nb-actions size="small">
            <nb-action>
                <a href="http://{{tenant.domain}}" rel="noopener noreferrer" target="_blank">{{tenant.domain}}</a>
            </nb-action>
            <nb-action>
                <a href="http://{{tenant.domain}}/admin" rel="noopener noreferrer" target="_blank">Admin Site</a>
            </nb-action>
        </nb-actions>
    </nb-card-body>
</nb-card>
<div class="card-row">
    <div class="card-col">
        <nb-card size="small" accent="danger">
            <nb-card-header>Daily Uploads</nb-card-header>
            <nb-card-body>
                <div class="ct-chart" id="dailySalesChart"></div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="card-row">
    <div class="card-col">
        <nb-card size="tiny" accent="info">
            <nb-card-header>Space Usage</nb-card-header>
            <nb-card-body>
                <h3 class="card-title">{{tenant.space_used}}/{{tenant.space_quota}}
                    <small>GB</small>
                </h3>
            </nb-card-body>
        </nb-card>
        <nb-card size="tiny" accent="success">
            <nb-card-header>Content</nb-card-header>
            <nb-card-body>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead class="text-warning">
                            <th>Type</th>
                            <th>Count</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Image</td>
                                <td>{{tenant.image_count}}</td>
                            </tr>
                            <tr>
                                <td>Video</td>
                                <td>{{tenant.video_count}}</td>
                            </tr>
                            <tr>
                                <td>Marmoset</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="card-col">
        <nb-card accent="primary">
            <nb-card-body>

                <nb-tabset fullWidth>
                    <nb-tab tabTitle="Managers">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-warning">
                                    <th>Name</th>
                                    <th>Email</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let manager of tenant.managers">
                                        <td>{{manager.fields.username}}</td>
                                        <td><a href="mailto:{{manager.fields.email}}">{{manager.fields.email}}</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </nb-tab>
                    <nb-tab tabTitle="Users">
                        <p>List of <strong>orders</strong>.</p>
                    </nb-tab>
                </nb-tabset>
            </nb-card-body>
        </nb-card>
    </div>
</div>