<div *ngIf="tenant">
    <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="http://{{tenant.domain}}" rel="noopener noreferrer"
                    target="_blank">{{tenant.domain}}</a>
                <a mat-raised-button class="btn btn-danger pull-right" href="http://{{tenant.domain}}/admin"
                    rel="noopener noreferrer" target="_blank">Admin Site</a>
            </div>
        </div>
    </nav>

    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">content_copy</i>
                            </div>
                            <p class="card-category">Used Space</p>
                            <h3 class="card-title">49/50
                                <small>GB</small>
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-danger">warning</i>
                                <a href="javascript:void(0)">Get More Space...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">person</i>
                            </div>
                            <p class="card-category">Users</p>
                            <h3 class="card-title">{{tenant.user_count}}</h3>
                            <div class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                        <th>Name</th>
                                        <th>Email</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let manager of tenant.managers">
                                            <td>{{manager.fields.username}}</td>
                                            <td><a href="mailto:{{manager.fields.email}}">{{manager.fields.email}}</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">person</i> {{tenant.user_count}} total users
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">photo_library</i>
                            </div>
                            <p class="card-category">Content</p>
                            <h3 class="card-title">75</h3>
                            <div class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                        <th>Type</th>
                                        <th>Count</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Image</td>
                                            <td>{{tenant.image_count}}</td>
                                        </tr>
                                        <tr>
                                            <td>Video</td>
                                            <td>{{tenant.video_count}}</td>
                                        </tr>
                                        <tr>
                                            <td>Marmoset</td>
                                            <td>0</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> Last upload: {{tenant.image.create | date}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Daily Uploads</h4>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 4 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>