<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white">
        <div class="logo">
            <a href="/" class="simple-text">
                Frog Tenants
            </a>
        </div>
        <div class="sidebar-wrapper">
            <tenant-list></tenant-list>
        </div>
    </div>
    <div class="main-panel">
        <div *ngIf="tenant$ | async as tenant">
            <add-tenant *ngIf="tenant.id === 0"></add-tenant>
            <tenant *ngIf="tenant.id !== 0" [tenant]="tenant"></tenant>
        </div>
    </div>
</div>