<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" (click)="setCurrent(null)">
            <i class="material-icons">add</i>
            <p>Add Tenant</p>
        </a>
    </li>
    <li *ngFor="let tenant of tenants$ | async" class="nav-item"
        [class.active]="(activetenant$ | async)?.id == tenant.id">
        <a class="nav-link" (click)="setCurrent(tenant)">
            <i class="material-icons">home</i>
            <p>{{tenant.domain}}</p>
        </a>
    </li>
</ul>